.nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  height: 30px;
  background-color: aqua;
}

.nav h1 {
  font-size: 30px;
  margin-left: 20px;
  color: orange;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 800;
}

.nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  width: 40%;
  margin-right: 20px;
}

.nav ul li a {
  text-decoration: none;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 15px;
  color: orange;
}

.nav ul li a:hover {
  text-decoration: underline;
}

@media only screen and (min-width: 1200px) {
  .nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    height: 70px;
  }

  .nav h1 {
    font-size: 50px;
    margin-left: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 800;
  }

  .nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    width: 20%;
    margin-right: 20px;
  }

  .nav ul li {
    font-size: 0;
  }

  .nav ul li:hover {
    text-decoration: underline;
  }

  .nav ul li a {
    font-size: 20px;
    color: orange;
  }
}
